.form-container {
    margin: 100px auto;
    width: 1000px;
    background-color:  #848884;;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    height: 800px;
    display: flex;
   flex-direction: column;
   justify-content: center;
  }
  

  .form-success {
    margin: 100px auto;
    width: 800px;
    height: 500px;  
    border-radius: 10px;
    height: 200px;
    display: flex;
   flex-direction: column;
   justify-content: center;
  }

  h1{
    color:black;
    text-shadow:white;
    text-align: center;
  }

  p{
    color: black;
    text-shadow: #595959; 
    font-size: 20px;
    text-align: center;
  }
  
  .form-content {
    margin: 100px auto;
    width: 1000px;
    display: flex;
   flex-direction: column;
   justify-content: center;
  }
  
  .form {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  

  
  .form-inputs {
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }
  
 
  
  .form-label {
    display: inline-block;
    padding-left: 0.5rem;
    font-size: 20px;
    margin-bottom: 6px;
    color: black;
  }
  
  .form-input {
    display: block;
    padding-left: 10px;
    outline: none;
    border-radius: 2px;
    height: 100px;
    width: 100%;
    border: none;
  }
  
  .form-input::placeholder {
    color: #595959;
    font-size: 18px;
  }
  
  .submit-bttn {
    width: 20%;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    background: black;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
  }
  
  .submit-bttn:hover {
    cursor: pointer;
    background: crimson;
    transition: all 0.4s ease-out;
  }
  
  .form-input-login {
    font-size: 16px;
    margin-top: 10px;
    color:blac;
    width: 80%;
    text-align: center;
  }
  
  .form-input-login a {
    text-decoration: none;
    color: crimson;
    font-weight: 600;
  }
 
  .input-un,
  .input-pw,
  .input-pw2,
  .email{
    height: 30px;
  }